html,body{
    margin: 0%;
    width: 100%;
    height: 100%;
    font-family:sans-serif;

}
header{
    width: 100%;
    height: 50px;
    background: linear-gradient(to right,rgba(255, 0, 0, 0.333),rgba(0, 0, 255, 0.536));
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    color:rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.141);
}


header .room_data{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 20px;
}

header .room_data .room_name{
    align-content: center;
}

header .room_data .icon{
    align-items: center;
    display:flex;
}

header .leave_room{
    display: flex;
   justify-content: flex-end; 
   padding-right: 10px;
   
}

header .leave_room button{
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(217, 0, 255, 0.777);
}

main{
    width: 100%;
    height: calc(100% - 50px);
    box-sizing: border-box;
    min-height: 500px;
    background: linear-gradient(to right,rgba(251, 12, 12, 0.167),rgba(0, 0, 255, 0.167));

}
main .main{
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

main .main .display{
    width: 100%;
    height:calc(100% - 50px);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    
}

main .main .display::-webkit-scrollbar{
    display: none;
}

main .main .input{
    height: 50px;
    margin-top: 7px;
}
main .main .input form{
    display: flex;
    gap: 10px;
}
main .main .input form input[type="text"]{
    border: none;
    outline: none;
    height: 40px;
    padding: 7px;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    flex: 1;

}
main .main .input form input[type="submit"]{
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}
main .main .display .send{
   display: flex;
   justify-content: flex-end;
}
main .main .display .send .text{
    background-color: aliceblue;
    padding: 5px;
    width: fit-content;
    text-align: justify;
    font-size: 17px;
    min-width: 5px;
    max-width: 60%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
main .main .display .recv .text{
    background-color: rgba(54, 54, 54, 0.347);
    padding: 5px;
    color: rgb(0, 0, 0);
    width: fit-content;
    font-size: 17px;
    min-width: 5px;
    max-width: 60%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main .main .display .join_info,main .main .display .leave_info,main .main .display .self{
    display: flex;
    justify-content: center;
}

main .main .display .join_info .text,main .main .display .leave_info .text,main .main .display .self .text{
    background-color: rgba(91, 108, 108, 0.216);
    font-size: x-small;
    padding: 4px;
    border-radius: 10px;
}

hr{
    height: 2px;
    margin: 1px;
    border-radius: 10px;
    border: none;
    background-color: rgb(124, 110, 110);
}