<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignitico | Chat Room</title>
    <link rel="stylesheet" href="/static/css/chat_room.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
</head>
<body>
    <header>
        <section class="room_data">
            <div class="icon">
                <img src="/static/images/chat_icon.png" alt="" height="25px" width="30px">
            </div>
            <div class="room_name">
                {{data["room_name"]}}'s room
            </div>
        </section>
        <section class="leave_room">
            <button id="leave_room_button">Leave Room</button>
        </section>
    </header>
    <main>
        <section class="main">
            <section class="display">
                <!-- <div class="recv">
                    <div class="text">
                        hello
                    </div>
                </div>
                <div class="send">
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem dolorem libero modi, sed vel esse facere voluptas voluptatibus cumque incidunt sapiente nisi impedit tempore quae eveniet. Rem, fugiat illo.
                    </div>
                </div>
                <div class="join_info">
                    <div class="text">
                        Some one has entered the Room and the Room capacity is {{data["cur_capacity"]}}
                    </div>
                </div>
                <div class="leave_info">
                    <div class="text">
                        Some one has left the Room and the Room capacity is {{data["cur_capacity"]}}
                    </div>
                </div> -->
                <!-- <div class="self">
                    <div class="text">hello world</div>
                </div> -->
            </section>
            <hr>
            <section class="input">
                <form>
                    <input type="text" id ="message" placeholder="Type Something" name="message" spellcheck="true">
                    <input type="submit" id="submit_button">
                </form>
            </section>
        </section>
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function appendMessage(message,sender){
            const messageDisplay = document.getElementsByClassName("display")[0];
            var newMessage = document.createElement("div");
            if(sender==="me"){
                newMessage.className = "send";
            }
            else if(sender === "other"){
                newMessage.className = "recv";
            }
            else if(sender === "join"){
                newMessage.className = "join_info";
            }
            else if(sender === "leave"){
                newMessage.className = "leave_info";
            }
            else if(sender === "self"){
                newMessage.className = "self";
            }
            newMessage.innerHTML = `<div class="text">${message}</div>`;
            messageDisplay.appendChild(newMessage);
        }

        var user_id = localStorage.getItem('user_id') || null;
        var para = `user_id=${user_id}&room=${"{{data['room_name']}}"}`;
        var socket = io.connect("http://192.168.0.132:5000",{query:para});

        socket.on("connect",function(){
            socket.emit("join_room",{
                room: "{{ data['room_name'] }}",
                "user_id":localStorage.getItem("user_id")
                
            });
        });

        socket.on("set_user_id",function(data){
            localStorage.setItem("user_id",data["user_id"]);
            console.log("user id setted");
        });

        socket.on("self_join",function(data){
            appendMessage("You joined the Room and the current capacity is "+data["cur_capacity"],"self");
        });

        socket.on("joined_room",function(data){
            console.log("joined room");
            appendMessage("someone joined the Room and the current capacity is "+data["cur_capacity"],"join");

        });

        socket.on("message", function(data){
            appendMessage(data,"other")
        });

        socket.on("lefted_room",function(data){
            appendMessage("someone left the Room and the current capacity is "+data["cur_capacity"],"leave");
            localStorage.removeItem("user_id");
            console.log("lefted_room");
        });

        socket.on("error",function(data){
            window.href = `/error?message=${data["message"]}`;
        });

        document.getElementById("submit_button").addEventListener("click", function(event) {
            event.preventDefault();
            var msg = document.getElementById("message").value;
            if (msg.trim()) {
                socket.emit("message", {
                    room: "{{ data['room_name'] }}",
                    message: msg
                });
                appendMessage(msg,"me")
                document.getElementById("message").value = "";
            }
        });

        document.getElementById("leave_room_button").addEventListener("click",function(){
            socket.emit("disconnect", {
                room: "{{ data['room_name'] }}",
                user_id:localStorage.getItem("user_id")
            });
            localStorage.removeItem("user_id");
            window.location.href = "/";
        });

    });
</script>
</html>