<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignitico | Chat Room</title>
    <link rel="stylesheet" href="/static/css/chat_room.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
</head>
<body>
    <header>
        <section class="room_data">
            <div class="icon">
                <img src="/static/images/chat_icon.png" alt="" height="25px" width="30px">
            </div>
            <div class="room_name">
                {{data["room_name"]}}'s room
            </div>
        </section>
        <section class="leave_room">
            <button id="leave_room_button">Leave Room</button>
        </section>
    </header>
    <main>
        <section class="main">
            <section class="display">
                <!-- <div class="recv">
                    <div class="text">
                        hello
                    </div>
                </div>
                <div class="send">
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem dolorem libero modi, sed vel esse facere voluptas voluptatibus cumque incidunt sapiente nisi impedit tempore quae eveniet. Rem, fugiat illo.
                    </div>
                </div>
                <div class="join_info">
                    <div class="text">
                        Some one has entered the Room and the Room capacity is {{data["cur_capacity"]}}
                    </div>
                </div>
                <div class="leave_info">
                    <div class="text">
                        Some one has left the Room and the Room capacity is {{data["cur_capacity"]}}
                    </div>
                </div> -->
            </section>
            <hr>
            <section class="input">
                <form>
                    <input type="text" id ="message" placeholder="Type Something" name="message" required>
                    <input type="submit" id="submit_button">
                </form>
            </section>
        </section>
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {

        function appendMessage(message,sender){
            const messageDisplay = document.getElementsByClassName("display")[0];
            var newMessage = document.createElement("div");
            if(sender==="me"){
                newMessage.className = "send";
            }
            else if(sender === "other"){
                newMessage.className = "recv";
            }
                sender == "me" ? "send" : "recv";
            newMessage.innerHTML = `<div class="text">${message}</div>`;
            messageDisplay.appendChild(newMessage);
        }


        var socket = io.connect("localhost:6589");

        socket.on("connect", function() {
            socket.emit("join", {
                room: "{{ data['room_name'] }}"
            });
        });
        
        socket.on("message", function(data) {
            appendMessage(data,"other")
        });

        document.getElementById("submit_button").addEventListener("click", function(event) {
            event.preventDefault();
            var msg = document.getElementById("message").value;
            if (msg.trim()) {
                socket.emit("message", {
                    room: "{{ data['room_name'] }}",
                    message: msg
                });
                console.log("sent a message");
                appendMessage(msg,"me")
                document.getElementById("message").value = "";
            }
        });

        socket.on("joined_room",function(data){
            console.log("Someone joined room",data["cur_capacity"]);
        });

        socket.on("lefted_room",function(data){
            console.log("someone left the room",data["cur_capacity"]);
        });

        document.getElementById("leave_room_button").addEventListener("click",function(){
            socket.emit("leave", {
                room: "{{ data['room_name'] }}"
            });
            window.location.href = "/";
        });

        window.addEventListener("beforeunload", function() {
            socket.emit("leave", {
                room: "{{ data['room_name'] }}"
            });
        });
    });

</script>
</html>