<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incognito Chat | Login to Room</title>
    <link rel="stylesheet" href="/static/css/login_room.css">
</head>
<body>

    <h1>Incognito chat</h1>
    <h5 id="error_message"></h5>
    <form>
        <input type="text" id="room_name" placeholder="Enter room name" autocomplete="off" autofocus required><br><br>
        <input type="password" id="password" placeholder="Room password" autocomplete="off" required><br><br>
        <input type="submit"  id="submit_button"><br>
        <a href="/create_room">Create Room</a>
    </form>
    <script src="/static/js/login_to_room.js"></script>
    
</body>
</html>