<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incognito Chat | Login to Room</title>
    <link rel="stylesheet" href="/static/css/login_room.css">
</head>
<body>
    <h1>Incognito chat</h1>
    <form>
        <input type="text" placeholder="Enter room name" autocomplete="off" autofocus required><br><br>
        <input type="password" placeholder="Room password" required><br><br>
        <h5>Room not Found</h5>
        <input type="submit" value="Login to Room" id="login_to_room"><br>
        <a href="/to_create_room_page">Create Room</a>
    </form>
    <h5>Room not Found</h5>
    <script src="/static/js/login_to_room.js"></script>
    
</body>
</html>